<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU9FEHJNYyHKZCkG5LSO7TH-LO2h66XPg</string>
	<key>GCM_SENDER_ID</key>
	<string>776911169491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farwaniya.app</string>
	<key>PROJECT_ID</key>
	<string>alfarwania</string>
	<key>STORAGE_BUCKET</key>
	<string>alfarwania.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776911169491:ios:35a7ae8e475b67fc54b126</string>
</dict>
</plist>